

body {
    margin: 0;
    background: #fff9e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: fondoMovimiento 12s ease infinite;
    background-size: 300% 300%;
}

@keyframes fondoMovimiento {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.navbar {
    background: #878883;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative; 
}
.nav-title {
    position: absolute;  
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}

.logo {
    width: 45px;
    margin-right: auto;
}



.container {
    width: 90%;
    margin: auto;
}



.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* Fila de tarjetas */
.cards-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 20px;
}



.planta-img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.planta-img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}


.estado {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.estado-verde {
    background-color: #c8f7c5;
    border-left: 8px solid #2ecc71;
}

.estado-amarillo {
    background-color: #fef9c3;
    border-left: 8px solid #f1c40f;
}

.estado-rojo {
    background-color: #f8d7da;
    border-left: 8px solid #e74c3c;
}



.sensor-card {
    padding: 25px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease;
}

.sensor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.18);
}

.sensor-card .valor {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}


.info-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.info-box:hover {
    transform: scale(1.02);
}

.info-box.grande {
    font-size: 20px;
    padding: 20px;
}

.consejo {
    background: #ffffff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.consejo:hover {
    transform: scale(1.02);
}



footer {
    text-align: center;
    padding: 15px;
    background: #fff9e7;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-top: 3px solid #fff9e7;
}


.section-title {
    text-align: center;
    font-size: 32px;
    margin: 30px 0;
    color: #000000;
    font-weight: bold;  
    letter-spacing: 1px;
    text-transform: none;  
}
.intro {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    margin-bottom: 25px;
    
}
 .hero {
    text-align: center;
    padding: 40px 0;
}
